# TODO: define dependency clearly
config DRM_XLNX
	tristate "Xilinx DRM KMS Driver"
	depends on DRM && OF
	select DRM_KMS_HELPER
	select DRM_KMS_CMA_HELPER
	select DRM_GEM_CMA_HELPER
	help
	  Xilinx DRM KMS driver.

config DRM_XLNX_BRIDGE
	tristate "Xilinx DRM KMS bridge"
	depends on DRM_XLNX
	help
	  Xilinx DRM KMS bridge.

config DRM_ZYNQMP_DPSUB
	tristate "ZynqMP DP Subsystem Driver"
	depends on ARCH_ZYNQMP && OF && DRM_XILINX && COMMON_CLK
	select XILINX_DPDMA
	select PHY_XILINX_ZYNQMP
	help
	  DRM KMS driver for ZynqMP DP Subsystem controller.

config DRM_ZYNQMP_DISP_DEBUG_FS
	bool "Xilinx DRM DPSUB debugfs"
	depends on DEBUG_FS && DRM_ZYNQMP_DPSUB
	select DRM_ZYNQMP_DP_DEBUG_FS
	help
	  Enable the debugfs code for DP Sub driver. The debugfs code
	  enables debugging or testing related features. It exposes some
	  low level controls to the user space to help testing automation,
	  as well as can enable additional diagnostic or statistical
	  information.

config DRM_ZYNQMP_DP_DEBUG_FS
	bool "Xilinx DRM DP debugfs"
	depends on DEBUG_FS && DRM_ZYNQMP_DPSUB
	help
	  Enable the debugfs code for DP driver. The debugfs code
	  enables debugging or testing related features. It exposes some
	  low level controls to the user space to help testing automation,
	  as well as can enable additional diagnostic or statistical
	  information.
